/*
* Iros v0.1
* Copyright 2014, Daniel DeSousa
* github.com/dandesousa/pelican-iris
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 03/09/2014
*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
small {
    font-family: 'Josefin Slab', serif; !important
}

h1,
h2,
h3,
h4,
h5,
h6 > a,
a {
    font-weight: 600;
}

a {
    text-decoration: none;
    font-weight: 600;
}


section {
    font-size: 1.2em;
}

.subtle {
    color: #A4A4A4;
}

#nav ul {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

#nav ul li {
    display: inline;
    margin: 0 20px 0 0;
}

#nav a {
    text-decoration: none;
    font-size: 1.5em;
    color: #A4A4A4;
}

#nav a:hover {
    color: #585858;
}

#nav a.active,
#nav a.active:hover {
    color: #000;
}

header {
    text-align: center;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header h3.subtle {
    font-style: italic;
}

header h5.subtle {
    font-style: italic;
}

footer {
    text-align: center;
}

header .line-center {
    margin: 0;
    padding: 0 10px;
    background: #fff;
    display: inline-block;
}

header .over-text {
    position: relative;
    z-index: 2;
}

header .over-text:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: solid 1px #ddd;
    z-index: -1;
}

img {
    max-width: 100%;
    max-height: 100%;
}
