<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="author" content="{{ AUTHOR }}">

        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/base.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/skeleton.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/layout.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
        {% if IRIS_FAV_ICON %}
        <link href="{{ SITEURL }}/{{ IRIS_FAV_ICON }}" rel="icon" type="image/x-icon" >
        {% endif %}
        {% if IRIS_IOS_ICON_PREFIX %}
        <link href="{{ SITEURL }}/{{ IRIS_IOS_ICON_PREFIX }}-57x57.png" rel=”apple-touch-icon{% if IRIS_IOS_ICON_PRECOMPOSED %}-precomposed{% endif %}” >
        <link href="{{ SITEURL }}/{{ IRIS_IOS_ICON_PREFIX }}-72x72.png" sizes="72x72" rel=”apple-touch-icon{% if IRIS_IOS_ICON_PRECOMPOSED %}-precomposed{% endif %}” >
        <link href="{{ SITEURL }}/{{ IRIS_IOS_ICON_PREFIX }}-114x114.png" sizes="114x114" rel=”apple-touch-icon{% if IRIS_IOS_ICON_PRECOMPOSED %}-precomposed{% endif %}” >
        <link href="{{ SITEURL }}/{{ IRIS_IOS_ICON_PREFIX }}-120x120.png" sizes="120x120" rel=”apple-touch-icon{% if IRIS_IOS_ICON_PRECOMPOSED %}-precomposed{% endif %}” >
        <link href="{{ SITEURL }}/{{ IRIS_IOS_ICON_PREFIX }}-152x152.png" sizes="152x152" rel=”apple-touch-icon{% if IRIS_IOS_ICON_PRECOMPOSED %}-precomposed{% endif %}” >
        {% endif %}
        <title>{% block iris_windowtitle %}{{ SITENAME }}{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <!-- nav bar -->
            <nav id="nav" class="sixteen columns">
                <ul>
                    <li><a {% if page_name == "index" or article %}class="active" {% endif %}href="{{ SITEURL }}/">Blog</a></li>
                    {% for p in pages %}
                    <li><a {% if page == p %}class="active" {% endif %}href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>

            <!-- body -->
            {% block iris_body %}
            <div class="sixteen columns">
                You aren't doing your job, this should be implemented
            </div>
            {% endblock %}

            <!-- footer -->
            <footer id="footer" class="sixteen columns">
                <hr>
                <!-- insert footer content here -->
                <p><a href="https://github.com/dandesousa/pelican-iris">Iris</a>, Created by <a href="http://dandesousa.com">Daniel DeSousa</a> in 2014.</p>
                {% if not IRIS_HIDE_COPYRIGHT %}
                <div class="offset-by-four eight columns clearfix">
                {% include "copyright.html" %}
                </div>
                {% endif %}
            </footer>
        </div>

        {% include "google_analytics.html" %}
    </body>
</html>
